<h1>Hello from game page</h1>
<select id="gamepad-select"></select>
<button id="refresh-gamepad-select">Refresh</button>

<script>
    @* document.addEventListener("DOMContentLoaded", function () {
        InitGamePage();
        }); *@
</script>